@{
    @using PeakHub.Models;
    @using Newtonsoft.Json;
    Layout = "_Layout";
    var tasks = JsonConvert.SerializeObject(ViewBag.Peaks);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map and Peaks</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
    <link rel="stylesheet" href="~/css/styleplanner.css" asp-append-version="true" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <script>
        var peaksData = @Html.Raw(tasks);
    </script>

    <div class="container">
        <div class="filter-container">
            <div class="filter-options">
                <button class="filter-toggle">Filters</button>
                <div class="filter-selections">
                    <input type="range" id="filter-difficultySlider" min="1" max="4" step="1" value="1">
                    <span id="difficulty-value">Difficulty</span>
                    <input type="range" id="filter-elevation" min="1000" max="1600" step="100" value="0">
                    <span id="elevation-value">Elevation</span>
                    <input type="text" id="search-name" placeholder="Enter Peak name">
                    <input type="hidden" id="filter-difficulty" />
                    <button id="apply-filters">Apply</button>  
                </div>
                <div class="filter-results">
                    <table class="filter-results-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Region</th>
                            </tr>
                        </thead>
                        <tbody class="filter-table-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="map-container">
            <button class="info-button">i</button>
            <div class="info-data"></div>
            <div id="map"></div>
        </div>
        
        <div class="route-container">
            <div class="route-content">
                <div class="plannerBtns">
                    <button id="draw-route" class="planner-buttos">Draw Route</button>
                    <button id="undo" class="planner-button">Undo</button>
                    <button id="finish" class="planner-button">Finish</button>
                    <button id="clear" class="planner-button">Clear</button>
                </div>
                <div class="chart-container">
                    <canvas id="elevationChart"></canvas>
                </div>
            </div>
            <div class="route-toggle-component">
                <button class="route-toggle">Routing</button>
            </div>
        </div>

        

        <div class="sections-container">
            <span>REGION LINKS</span>
            <div id="section-boxes" class="regions-box"></div>
            <button class="region-links-toggle">Regions</button>
        </div>
        
    </div>

    <script src="~/js/map.js"></script>
</body>
</html>
