@{
    @using PeakHub.Models;
    @using Newtonsoft.Json;
    Layout = "_Layout";
    var tasks = JsonConvert.SerializeObject(ViewBag.Peaks);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map and Peaks</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.css" />

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <script>
        var peaksData = @Html.Raw(tasks);
    </script>

    <div class="container">
        <div id="filter-container">
            
            <div id="filter-options">
                <input type="range" id="filter-difficultySlider" min="1" max="4" step="1" value="1">
                <span id="difficulty-value">Difficulty</span>
                <input type="range" id="filter-elevation" min="0" max="1600" step="100" value="0">
                <span id="elevation-value">Elevation (m)</span>
                <input type="text" id="search-name" placeholder="Enter Peak name">
                <input type="hidden" id="filter-difficulty" />
                <button id="apply-filters">Apply</button>             
            </div>
            <button id="filter-toggle">Filters</button>

        </div>


        <div id="map-container">

            <div id="plannerBtns" >
                <button id="draw-route">Draw Route</button>
                <button id="undo">Undo</button>
                <button id="finish">Finish</button>
                <button id="clear">Clear</button>
            </div>
            
            <div id="map"></div>

            <div id="chart-container">
                <canvas id="elevationChart"></canvas>
            </div>
        </div>

        <div id="section-boxes" class="sections-container"></div>
    </div>

    <script src="~/js/map.js"></script>
</body>
</html>
