
@{
    @using PeakHub.Models;
    @using Newtonsoft.Json;
   
    var tasks = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Peak>>(ViewBag.Peaks.ToString());    
}
<h1>Hhello world</h1>

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map and Peaks</title>

    <!-- Leaflet.js CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.css" />

    <style>

        #map {
            height: 75vh;
            width: 100%;
            border: 2px solid #ccc;
            margin-bottom: 20px;
        }
    </style>
</head>
<body><div id="map"></div>  <script> 
        var peaksData = @Html.Raw(JsonConvert.SerializeObject(tasks));
    </script><script src="~/js/map.js"></script> </body>

