@{
    @using PeakHub.Models;
    @using Newtonsoft.Json;
    Layout = "_Layout";

    // all peaks and user routes
    var tasks = JsonConvert.SerializeObject(ViewBag.Peaks);
    var userroutes = JsonConvert.SerializeObject(ViewBag.Routes);

    // chehcks if user is logged in - used to disable other features
    if (ViewBag.userL == null)
    {
        ViewBag.userL = false;
    }
    else
    {
        ViewBag.userL = true;
    }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map and Peaks</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.css" />

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <script>
        var peaksData = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Peaks));
        var userPeaks = @Html.Raw(JsonConvert.SerializeObject(ViewBag.userPeaks));
        var userRoutes = JSON.parse(@Html.Raw(userroutes));
        var user = @ViewBag.userL.ToString().ToLower();
    </script>


    <div id="banner"></div>
    <div id="planner-bg">
        <div id="planner-blend-layer">
        </div>
        <div id="planner-container">

            <div class="filter-container">
                <div class="filter-toggle-component  ">
                    <label class="filter-toggle">
                        <pre> <i class="fa-solid fa-filter"></i> <i class="fa-sharp fa-solid fa-chevron-up"></i><input id="filter-toggle-checkbox" type="checkbox"/></pre>
                    </label>
                </div>
                <div class="filter-options">

                    <div class="filter-selections absolute-center ">
                        <input type="range" id="filter-difficultySlider" min="1" max="4" step="1" value="1">
                        <span id="difficulty-value">Difficulty</span>
                        <input type="range" id="filter-elevation" min="1100" max="1600" step="100" value="0">
                        <span id="elevation-value">Elevation</span>
                        <input type="text" id="search-name" placeholder="Enter Peak name">
                        <input type="hidden" id="filter-difficulty" />
                        <button id="apply-filters" class="buttonB">Apply</button>
                    </div>
                    <div class="filter-results">
                        <table class="filter-results-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Region</th>
                                </tr>
                            </thead>
                            <tbody class="filter-table-body">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="filter-overlay-container">
                    <div class="filter-closed-overlay">
                        <i class="fa-solid fa-arrow-up"></i>
                        <div class="filter-overlay-text">To Filter Menu</div>
                    </div>
                    <div class="filter-open-overlay">
                        <div class="filter-overlay-sliders">1</div>
                        <div class="filter-overlay-input">2</div>
                        <p> To filter results use:</p>
                        <p> 1 - Sliders</p>
                        <p> 2 - Text input</p>                      
                    </div>
                </div>
            </div>
            
            <div class="map-container">
                <div class="info-data"></div>
                <div id="map"></div>
            </div>

            <div class="route-container">
                <div class="route-content">
                    <div class="plannerBtns">
                        <button id="draw-route" class="buttonB"><i class="fa-solid fa-pencil"></i></button>
                        <button id="undo" class="buttonB"><i class="fa-solid fa-rotate-left"></i></button>
                        <button id="finish" class="buttonB">Finish</button>
                        <button id="clear" class="buttonB"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                    <div class="chart-container">
                        <canvas id="elevationChart"></canvas>
                    </div>
                    <button id="saveBtn" class="saveBtn buttonB"><i class="fa-regular fa-floppy-disk"></i></button>
                    <div class="routeList-container">
                        <span>Saved Routes</span>
                        <div id="route-box" class="route-box"></div>
                    </div>
                </div>
            </div>
            <div class="route-toggle-component">
                <button class="route-toggle"><pre><i class="fa-solid fa-route"></i>  <i class="fa-sharp fa-solid fa-chevron-down"></i></pre></button>
            </div>
            <div class="regions-toggle-component">
                <button class="regions-toggle"><pre><i class="fa-solid fa-chart-area"></i>  <i class="fa-sharp fa-solid fa-chevron-up"></i></pre></button>
            </div>
            <div class="regions-container">
                <div id="section-boxes" class="regions-box"></div>
            </div>


            <label class="info-toggle">overlay
                <input id="info-toggle-checkbox" type="checkbox" checked="checked" />
            </label>
        </div>
    </div>
    <script src="~/js/map.js"></script>
    <script src="~/js/planner.js"></script>
</body>
</html>
