@model PeakHub.Models.Board

<div class="itemBox">
    <img src="@Model.Image" alt="Board's Header Image" />

    <div class="itemData">
        <p> <strong> @Model.Name </strong> </p>
        <p> <i> @Model.Section </i> </p>
    </div>
</div>