@{ ViewData["Title"] = "Boards"; }
<link rel="stylesheet" href="~/css/_forum.css" asp-append-version="true" />

<div id="boardContent">
    <p id="loadMsg">Looking for More...  Please Wait</p>
    <input type="text" id="searchInput" placeholder="Search by Name or Section" />
    <div class="content" id="listOfBoards"> </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/forum/board.js"></script>