@model PeakHub.ViewModels.ChangePasswordViewModel
@{
    Layout = "_AccountLayout";
}
<link rel="stylesheet" href="~/css/_profile.css" asp-append-version="true" />

<div id="form-container">
    <!-- Change Password Form -->
    <form id="changePasswordForm" asp-action="ChangePassword" method="post">
        <a class="brand-logo-container" asp-controller="Home" asp-action="Index">
            <img src="/img/logo2.png" />
            <span id="brand-name">TAS PEAKS</span>
        </a>

        <h2>Change Password</h2>

        @if (TempData["SuccessMessage"] != null)
        {
            <div id="successMessage" class="success-message">
                @TempData["SuccessMessage"]
            </div>
        }

        <input asp-for="OldPassword" type="password" class="form-control" placeholder="Old Password" oninput="hideSuccessMessage()" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>

        <input asp-for="Password" type="password" class="form-control" placeholder="New Password" oninput="hideSuccessMessage()" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" oninput="hideSuccessMessage()" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        <div class="button-container">
            <input type="submit" value="Change" class="btn btn-primary" />
            <a href="/Profile/Index" class="btn btn-secondary">Return</a>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </form>
</div>

<script>
    function hideSuccessMessage() {
        const successMessage = document.getElementById("successMessage");
        if (successMessage) {
            successMessage.style.display = "none";
        }
    }
</script>
