@model PeakHub.ViewModels.ChangePasswordViewModel;
<link rel="stylesheet" href="~/css/_profile.css" />

<body style="
    background: url('../img/background2.svg') no-repeat center fixed;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed; ">
</body>

<div class="container">

    <div id="passwordSection">


        <h2>Edit Password</h2>
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label for="OldPassword">
                    <i class="fa-solid fa-lock"></i> Old Password
                </label>
                <input asp-for="OldPassword" class="form-control" id="OldPassword" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="user-actions">
                <a href="#" onclick="document.querySelector('form').submit();">
                    Change&nbsp;<i class="fa-regular fa-floppy-disk"></i>
                </a>        
                <a href="/Profile/Index">
                        <i class="fa-solid fa-arrow-left"></i> Return
                </a>
            </div>
        </form>
    </div>
</div>
