@model PeakHub.ViewModels.ChangePasswordViewModel;
<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />

<div class="container">
    <div id="passwordSection">
        <h3>Change Password</h3>
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="user-actions">
                <a href="#" onclick="document.querySelector('form').submit();">Change</a>
            </div>
        </form>
    </div>
</div>
