@model PeakHub.ViewModels.EditDetailsViewModel
<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />

<div class="container">
    <div id="detailsSection">
        <h3>Edit Your Details</h3>
        <form asp-action="EditDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="user-actions">
                <a href="#" onclick="document.querySelector('form').submit();">Save</a>
            </div>
        </form>
    </div>
</div>
