@model PeakHub.ViewModels.EditDetailsViewModel

<link rel="stylesheet" href="~/css/_profile.css" />
<link href="https://unpkg.com/cropperjs@latest/dist/cropper.css" rel="stylesheet">

<body style="
    background: url('../img/background2.svg') no-repeat center fixed;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed; ">
</body>


<div class="changeContainer">
    <div id="detailsSection">
        <h2>Edit Details</h2>
        <form asp-action="EditDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ProfileIMG" id="imgLink" type="hidden" />

            <input type="file" id="imageSelector" accept="image/*" style="display: none;">
            <a id="addImage" href="#">Change Profile Image &nbsp;<i class="fa-solid fa-pen"></i></a>

            <div id="progressContainer" style="display: none;">
                <p>Uploading, please wait...</p>
                <progress id="progressBar" value="0" max="100"></progress>
            </div>

            <div class="form-group">
                <label for="FirstName">First Name
                    <i class="fa-solid fa-user"></i>
                </label>
                <input asp-for="FirstName" class="form-control" id="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control" id="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="user-actions">
                <a href="#" onclick="document.querySelector('form').submit();">Save &nbsp;<i class="fa-regular fa-floppy-disk"></i></a>
                <a href="/Profile/Index"><i class="fa-solid fa-arrow-left"></i> Return</a>
            </div>
        </form>
    </div>
</div>

<div id="mediaView" style="display: none;">
    <img id="cropImage" />
    
    <div class="icon-row">
        <a id="saveImage" href="#">Save &nbsp;<i class="fas fa-cloud-upload-alt"></i></a>
        <a id="cancelImage" href="#">Cancel &nbsp;<i class="fas fa-times"></i></a>
    </div>
</div>

<!-- 'Add an Image' Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/cropperjs@latest/dist/cropper.js"></script>
<script type="module" src="~/js/profileEdit.js"></script>