@model PeakHub.ViewModels.ForumViewModel
@{ Layout = "_Layout"; }

<div id="forumContent">
    <section id="forumMenu_1">
        <h3>Boards</h3>
    </section>

    <section id="forumMain">
        <div id="forumHeader">
            <img src="@Model.ProfileImg" alt="Your Profile Image" />
            <h3>@Model.Username</h3>
        </div>

        @foreach (var postViewModel in @Model.Posts) {
            @Html.PartialAsync("_Post", postViewModel)
        }
    </section>

    <section id="forumMenu_2">
        <h3>Filters</h3>
    </section>
</div>