@model PeakHub.ViewModels.ForumViewModel

<div id="forumContent">
    <section id="forumMenu_1">
        <h3>Boards</h3>
    </section>

    <section id="forumMain">
        <div id="forumHeader">
            <img src="@Model.ProfileImg" alt="Your Profile Image" />
            <h3>@Model.Username</h3>
        </div>

        <div id="forumPosts">
            @foreach (var postViewModel in @Model.Posts) {
                @await Html.PartialAsync("_Post", postViewModel)
            }
        </div>
    </section>

    <section id="forumMenu_2">
        <h3>Filters</h3>
    </section>
</div>