@model PeakHub.ViewModels.Forum.AddPostViewModel
@{ ViewData["Title"] = "Add Post"; }

<link rel="stylesheet" href="~/css/_forum.css" asp-append-version="true" />

<div id="addContent">
    <div class="header">
        <img src="@Model.User.ProfileImg" alt="Your Profile Image" />
        <p> <strong>@Model.User.Username</strong> </p>
    </div>

    <form class="content" id="createPost">
        @Html.AntiForgeryToken()
        <input type="hidden" id="boardID" value="@Model.BoardID" />

        <!-- Post content input -->
        <textarea id="addPostContent" name="postContent" placeholder="What's on your mind?"></textarea>

        <!-- Media upload input -->
        <input type="file" id="addPostMedia" name="mediaFile" style="display: none" accept="image/*" />
        <div id="mediaView" style="display: none"></div>

        <!-- Progress Container / bar display -->
        <div id="progressContainer" style="display: none;">
            <p>Uploading, please wait...</p>
            <progress id="progressBar" value="0" max="100"></progress>
        </div>

        <!-- Error Message Display -->
        <p id="errorMsg" style="display: none"></p>

        <!-- Action Buttons -->
        <div class="row-btn">
            <button type="button" class="btn-secondary" id="addMediaFile">Add File</button>
            <button type="button" class="btn-secondary deactivate" id="removeMediaFile">Remove File</button>
        </div>

        <div class="row-btn">
            <button type="submit" id="addPostSubmit" class="btn-secondary deactivate">Submit</button>
            <button type="button" id="cancelPost" class="btn-secondary">Cancel</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/forum/addPost.js"> </script>