@{ ViewData["Title"] = "Home"; }
<link rel="stylesheet" href="~/css/_guide.css" asp-append-version="true" />

<section id="hero">
    <video id="hero_background" autoplay muted loop>
        <source src="~/img/TheAbels-portrait.mp4" type="video/mp4" />
    </video>

    <div id="typewriter"> <div id="message">ARE YOU ABEL?</div> </div>

    <div id="anchors">
        <a class="wwwBtn" href="#WW_What">      <h1>WHAT</h1>   <p>ARE THEY</p> </a>
        <a class="wwwBtn" href="#WW_Where">     <h1>WHERE</h1>  <p>ARE THEY</p> </a>
        <a class="wwwBtn" href="#WW_Who">       <h1>WHO</h1>    <p>ARE WE</p>   </a>
    </div>
</section>

<section id="WW_What">
    <h1>WHAT</h1>

    <div class="info-left content">
        <p>The Abels are a collection of mountains in Tasmania that meet specific criteria in terms of elevation and prominence. Named after Abel Tasman, the Dutch explorer who first sighted Tasmania in 1642, these peaks must be at least 1,100 meters in elevation with a prominence of at least 150 meters to qualify as an "Abel." Prominence, in this context, refers to how much a peak stands out compared to the surrounding landscape, ensuring that Abels are not only tall but also distinctive in their rise above nearby terrain. The total list includes 158 peaks scattered across Tasmania, offering diverse hiking challenges in a range of environments.</p>
        <img src="~/img/Cathedral-Mountain.jpg" alt="Cathedral Mountain The Abels Tasmania" />
    </div>

    <div class="info-right content">
        <p>The idea of classifying Tasmanias highest peaks as Abels was inspired by the Munros of Scotland, which are similarly categorized based on height. However, the Abels are unique in their combination of ruggedness and relative isolation. Many of these mountains are located in remote, wilderness areas, offering hikers the chance to experience pristine environments. From alpine plateaus and steep cliffs to dense forests and coastal vistas, the Abels encompass a wide range of Tasmanian landscapes.</p>
        <img src="~/img/Cathedral-Mountain-evening.jpg" alt="Cathedral Mountain The Abels Tasmania evening shot" />
    </div>

    <div class="info-left content">
        <p>Hiking the Abels has become a popular goal for adventure seekers in Tasmania and beyond. For those who love the challenge of reaching high summits, the Abels provide a rewarding pursuit, as many of the peaks are accessible only through demanding treks. The peaks can be tackled individually or as part of a lifelong challenge to "bag" all 158. Each summit rewards climbers with breathtaking views and a sense of accomplishment, making the Abels a cherished part of Tasmania's outdoor heritage.</p>
        <img src="~/img/Central-Plateau.jpg" alt="Central Plateau The Abels Tasmania" />
    </div>
</section>

<section id="WW_Where">
    <h1>WHERE</h1>

    <div class="front content">
        <p>Bill Wilkinson, in his definitive works, <a href="https://theabelmountains.com.au/" target="_blank">The Abels: A Comprehensive Guide to Tasmania’s Mountains Over 1100 Metres</a>, provides an in-depth exploration of the 158 Abels. He categorizes them into 10 distinct regions across Tasmania, which are defined by their geographical and environmental diversity. </p><br />
        <p>Wilkinson's classification helps highlight the unique character of each region, from the rugged wilderness of the South West to the alpine areas of the Central Plateau. This regional division aids hikers in understanding the varied landscapes, ecosystems, and hiking challenges that each of these mountainous areas present.</p>
        <a class="flipBtn wwwBtn"> <h3>Find Out More</h3> </a>
    </div>

    <div class="back content hideSide">
        <div class="list">
            <a id="R_1">The North West</a>
            <a id="R_2">The North East</a>
            <a id="R_3">The South East</a>
            <a id="R_4">Central Plateau</a>
            <a id="R_5">Pelion & Saint Clair</a>
            <a id="R_6">The West Mid</a>
            <a id="R_7">The West</a>
            <a id="R_8">The Gordon</a>
            <a id="R_9">The South West</a>
            <a id="R_10">The South</a>
            <a class="flipBtn">Find Out Less</a>
        </div>

        <div class="display">
            <h3 id="abel_title"></h3>
            <p id="abel_info"></p>

            <div id="facts">
                <div class="fact">
                    <div class="factHead">Total</div>
                    <div class="factText" id="peak_total"></div>
                </div>
                <div class="fact">
                    <div class="factHead">Elevation</div>
                    <div class="factText" id="elevation"></div>
                </div>
                <div class="fact">
                    <div class="factHead">Difficulty</div>
                    <div class="factText" id="difficulty"></div>
                </div>
                <div class="fact full-row">
                    <div class="factHead">Terrain</div>
                    <div class="factText" id="terrain"></div>
                </div>
                <div class="fact full-row">
                    <div class="factHead">Season</div>
                    <div class="factText" id="ideal_season"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="WW_Who">
    <h1>WHO</h1>

    <div class="info-left content">
        <div class="text">
            <p> At the heart of our team lies a deep passion for Tasmania's untamed beauty and an unwavering respect for its breathtaking landscapes. We are driven by a shared vision: to shine a spotlight on The Abels, Tasmania’s majestic mountain peaks, and inspire others to discover and cherish their extraordinary wonder. Together, we are committed to raising awareness of The Abels, ensuring their significance is recognized and celebrated by adventurers and nature lovers alike.</p>
            <p>Through our collaboration with Tourism Tasmania, we aim to promote sustainable tourism, respect for the environment, and a deeper connection to nature. Our mission is to celebrate The Abels, making these extraordinary peaks accessible to a global audience while preserving the natural beauty that makes Tasmania so special.</p>
        </div>

        <div class="image">
            <img src="/img/the-team.jpeg" alt="image of Tas Peaks team">
            <a class="come-say-hi-btn buttonB" href="#">Drop us a line</a>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/home.js" asp-append-version="true"></script>