@model PeakHub.ViewModels.HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}


<h1> ARE YOU ABEL?</h1>




@{
    Console.WriteLine("Hello world");
    if (Model != null)
    {
        <span>@Model.UserID</span>
        <span>@Model.UserName</span>
    }
}
