@model PeakHub.ViewModels.EmailConfirmationViewModel
@{
    Layout = "_AccountLayout";
}

<div id="form-container">
   
    <form>
    @if (Model.IsSuccess)
    {
        <h2>Email Confirmed</h2>
            <img src="~/img/greentick.png" height="100px">
        <p>Your email has been successfully confirmed! You can now Login.</p>
            <div class="button-container">
                <a href="@Url.Action("Login", "Login")" class="btn btn-secondary">Sign In</a>
            </div>
    }
    else
    {
        <p>@Model.ErrorMessage</p>
        <p>Please try again or contact support.</p>
    }
    </form>
</div>