@model PeakHub.ViewModels.EmailConfirmationViewModel
@{
    Layout = "_AccountLayout";
}

<div id="form-container">
    <form>
        <a class="brand-logo-container" asp-controller="Home" asp-action="Index">
            <img src="/img/logo2.png" />
            <span id="brand-name">TAS PEAKS</span>
        </a>
        
        <h2>Registration Successful</h2>

        <img src="~/img/greentick.png" height="100px">
        <p>Please check your inbox to verify your account</p>
        <div class="btn-row">
            <a href="@Url.Action("Login", "Login")" class="btn btn-secondary">Sign In</a>
        </div>
    </form>
    
</div>