<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Peakhub : @ViewData["title"]</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
    </head>

    <body>
        <!-- Navigationn -->
        @await Html.PartialAsync("_Navbar")

        <!-- Main Form Content -->
        <main class="account-page" role="main">
            @RenderBody()
        </main>
    </body>
</html>
