<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PeakHub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/newStyle.css" asp-append-version="true" />
</head>
<body>
    <!--
    <video id="bg-video" autoplay muted loop>
        <source src="~/img/TheAbels-portrait.mp4" type="video/mp4" />
    </video>
    -->

    <header id="nav-area">
       
        <nav id="nav-container">

            <a class="brand-logo-container" asp-controller="Home" asp-action="Index">
                <img src="/img/logo2.png" />
                <span id="brand-name">TAS PEAKS</span>
            </a>
            <label class="hamburger-menu">
                <input id="hamburger-menu-checkbox" type="checkbox" />
            </label>
            <div id="navlinks-container">
                <ul class="navbar-list">
                    <li class="nav-item">
                        <a class="nav-link absolute-center" asp-area="" asp-controller="Planner" asp-action="Index">PLANNER</a>
                        <div class="nav-link-hover absolute-center"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link absolute-center" asp-area="" asp-controller="Home" asp-action="Privacy">FORUM</a>
                        <div class="nav-link-hover absolute-center"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link absolute-center" asp-area="" asp-controller="Login" asp-action="Login">LOGIN</a>
                        <div class="nav-link-hover absolute-center"></div>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    
    <main>
        @RenderBody()
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
