<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>[TasPeaks] @ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/img/logo2.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/_shared.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_nav.css" asp-append-version="true" />
</head>

<body class="column">
    <header>
        <div id="nav-area">
            <!-- Brand Logo -->
            <a id="brand-logo" class="row" asp-controller="Home" asp-action="Index">
                <img src="/img/logo2.png" />
                <h1>TAS PEAKS</h1>
            </a>

            <!-- Desktop Nav -->
            <div id="desktop-nav" class="row">
                <div id="profile-toggle"> <i class="fa-solid fa-user"></i> </div>

                <nav id="feature-links" class="navbar-list row">
                    <a class="nav-link" asp-area="" asp-controller="Planner" asp-action="Index">PLANNER</a>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">GUIDES</a>
                    <a class="nav-link" asp-area="" asp-controller="Board" asp-action="Index">FORUM</a>
                </nav>

                <nav id="profile-links" class="navbar-list row"> @{
                    if (Context.Session.GetString("UserId") != null) {
                        <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index">PROFILE</a>
                        <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Logout">LOGOUT</a>
                    } else {
                        <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Login">LOGIN</a>
                        <a class="nav-link" asp-area="" asp-controller="Signup" asp-action="Create">REGISTER</a>
                    }
                } </nav>
            </div>

            <!-- Mobile Nav -->
            <div id="mobile-nav" class="row">
                <div id="hamburger-toggle"> <i class="fa-solid fa-bars"></i> </div>

                <nav class="navbar-list column">
                    <a class="nav-link" asp-area="" asp-controller="Planner" asp-action="Index">PLANNER</a>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">GUIDES</a>
                    <a class="nav-link" asp-area="" asp-controller="Board" asp-action="Index">FORUM</a>

                    @{
                        if (Context.Session.GetString("UserId") != null) {
                            <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index">PROFILE</a>
                            <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Logout">LOGOUT</a>
                        } else {
                            <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Login">LOGIN</a>
                            <a class="nav-link" asp-area="" asp-controller="Signup" asp-action="Create">REGISTER</a>
                        }
                    }
                </nav>
            </div>
        </div>
    </header>

    <main class="column">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
