/* -------------------------------------------------- */

:root {
    /* COLORS */
    --grey: #e1daca;
    --black-glass: #0005;
    --grey-glass: #e1daca50;

    --blue: #aae0fa;
    --blue-glass: #aae0fa50;

    --darkgreen: #133234;
    --lightgreen: #2f6546;
    --lightgreen-glass: #2f654650;
    
    --red: #912f45;
    --yellow: #f3e147;

    /* DISPLAY */
    --radius: 15px;
    --max-width: 1300px;
    --shadow-down: 0px 2px 2px black;
    --animation-timing: 0.25s ease-in-out;
    
    --who-what-where: 4rem;
    --sidebar: calc(50vw - 700px);
    --sidebar-blend: calc(var(--sidebar) + 100px);
}

/* -------------------------------------------------- */