/* -------------------------------------------------------------------------------- */
/* All Content */

@import url(_custom.css);

body {
    background: url('../img/background2.svg') no-repeat center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

[id*='Content'] {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--blue-glass);
}

.content::-webkit-scrollbar { display: none; }

img { border-radius: var(--radius); }

#loadMsg { 
    color: #FFF; 
    font-size: 1.75rem;
    text-shadow: 2px 2px 5px #000;
}

/* -------------------------------------------------------------------------------- */
/* Board Content */

#searchInput {
    min-height: 50px;
    margin-bottom: 10px;
    border-radius: var(--radius);
    box-shadow: 2px 2px 5px black;
}

#listOfBoards {
    gap: 25px;
    padding: 1%;
    display: grid;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}

.itemBox {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius);
    box-shadow: 2px 2px 5px black;
    transition: transform 0.3s, box-shadow 0.3s;
}

.itemBox img {
    width: 100%;
    display: block;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.itemData {
    padding: 2% 0;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.itemData strong {
    font-size: 1.25rem;
    color: var(--yellow);
}

.itemData i {
    font-size: 1rem;
    color: var(--blue);
}

/* -------------------------------------------------------------------------------- */
/* Forum Content */

.square img { aspect-ratio: 1 / 1; }
.portrait img { aspect-ratio: 2 / 3; }
.landscape img { aspect-ratio: 3 / 2; }
.tall-portrait img { aspect-ratio: 1 / 2; }
.wide-landscape img { aspect-ratio: 2 / 1; }

#postsForBoard {
    gap: 20px;
    width: 50%;
    padding: 1%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
}

.forumPost {
    width: 100%;
    border-radius: var(--radius);
    background: var(--grey-glass);
    box-shadow: 0 2px 5px var(--black-glass);
}

/* Posts Head / Foot */

.postHead, .postFoot {
    gap: 20px;
    display: flex;
    color: var(--grey);
    align-items: center;
    background: var(--lightgreen);
}

.postHead {
    padding: 2%;
    border-bottom: 4px groove var(--darkgreen);
    border-radius: var(--radius) var(--radius) 0 0;
}

.postHead img.postUser {
    width: 80px;
    margin-right: 5px;
    aspect-ratio: 1 / 1;
    border-radius: var(--radius);
}

.postFoot {
    height: 8vh;
    padding-right: 30px;
    justify-content: flex-end;
    border-top: 4px groove var(--darkgreen);
    border-radius: 0 0 var(--radius) var(--radius);
}

.postFoot i {
    font-size: 2rem;
    cursor: pointer;
}
.postFoot p { font-size: 1.25rem; }

.inactiveLike { opacity: 0.5; }

.userContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userContent * { padding: 0; }
.userContent h3 { font-size: 2rem; }
.userContent p { font-size: 1.25rem; }

/* Loading Spinner */

@keyframes spin {
    to { transform: rotate(360deg); }
}

.spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px groove var(--black-glass);
    border-top-color: var(--blue);
    animation: spin 1.5s linear infinite;
    box-shadow: 0 2px 5px var(--blue-glass);
}

/* Like POP */

@keyframes pop {
    0%, 100% { 
        color: inherit;
        transform: scale(1); 
    }

    50% {
        color: var(--blue);
        transform: scale(1.5);
    }
}

.pop-effect { animation: pop 0.3s ease-in-out; }

/* Posts Content */

.postContent {
    gap: 20px;
    padding: 2%;
    display: flex;
    min-height: 20vh;
    align-items: center;
    flex-direction: column;
}

.postContent img.postImg {
    width: 80%;
    border-radius: var(--radius);
}

.textView {
    font-size: 1.5rem;
    background: none;
    color: var(--blue);
}
.textView:hover { color: var(--grey); }

/* -------------------------------------------------------------------------------- */
/* Add Post Content */

#addContent {
    display: flex;
    overflow-y: auto;
    align-items: center;
    padding-bottom: 15px;
    flex-direction: column;
    justify-content: space-between;
}

#inputArea {
    flex-grow: 1;
    padding: 2%;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: space-between;
}

#text, #file { 
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#file { justify-content: flex-end; }

#file img {
    max-width: 95%;
    max-height: 95%;
}

#editor {
    width: 100%;
    border: none;
    font-size: 1vw;    
    background: var(--blue-glass);
}

.ql-toolbar {
    width: 100%;
    background: var(--grey);
    border-radius: 15px 15px 0 0;
}

.ql-toolbar ul { color: rebeccapurple; }

#charCount {
    width: 100%;
    padding: 2% 0;
    text-align: center;
    border-radius: 0 0 15px 15px;
    background: var(--lightgreen);
}

.row-btn {
    width: 80%;
    display: flex;
    margin-top: auto;
    justify-content: space-evenly;
}

.row-btn * {
    width: 25%;
    padding: 2% 0;
    color: #FFF;
    border: none;
    font-size: 1vw;
    border-radius: 15px;
    background: var(--lightgreen);
}

.row-btn *:hover {
    padding: 0;
    font-weight: bold;
    background: var(--darkgreen);
    border: 2px groove var(--blue-glass);
}

/* File Preview */

.browse-link { font-weight: 500; }

#mediaView {
    padding: 2%;
    width: 100%;
    display: flex;
    max-height: 350px;
    align-items: center;
    justify-content: center;
}

#mediaView img {
    max-width: 100%;
    max-height: 100%;
}

.fileActions {
    gap: 20px;
    display: flex;
    align-items: center;
}

.fileActions i {
    gap: 15px;
    display: flex;
    color: var(--grey);
    align-items: center;
    flex-direction: column;
}

.fileActions i:hover {
    color: var(--blue);
}

.drag-and-drop-area {
    cursor: pointer;
    text-align: center;
    padding: 10px 100px;
    background: var(--blue-glass);
    transition: background-color 0.3s;
    border: 2px dashed var(--black-glass);
}

.drag-and-drop-area.drag-over, .drag-and-drop-area:hover {
    background-color: var(--blue);
}

/* -------------------------------------------------------------------------------- */
/* Progress Bar */

#progressContainer { width: 50%; }

#progressBar {
    width: 100%;
    height: 25px;
}
#progressBar::-webkit-progress-bar, #progressBar::-webkit-progress-value {
    border-radius: 8px 10px 10px 8px;
}

#progressBar::-webkit-progress-bar {
    background: var(--red);
    border: 2px groove var(--yellow);
}

#progressBar::-webkit-progress-value {
    background: var(--lightgreen);
    border: 1px groove var(--grey);
}

/* -------------------------------------------------------------------------------- */
/* Mini-Nav */

.mini-nav {
    gap: 10px;
    left: 15px;
    bottom: 15px;
    z-index: 100;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.mini-nav-icon {
    gap: 20px;
    width: 20vh;
    height: 8vh;
    border-radius: 25px;
    text-decoration: none;

    color: #FFF8;
    background: var(--blue-glass);

    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-nav-icon:hover { 
    color: #000;
    background: var(--blue);
}

/* -------------------------------------------------------------------------------- */
/* Screen - Mobile */

@media only screen and (max-width: 768px) {
    [id*='Content'] { padding-top: 16vh; }

    /* Board */
    .itemBox { background: var(--lightgreen); }   
    #listOfBoards { width: 80%; }

    #searchInput {
        width: 90%;
        padding-left: 2%;
    }
    
    /* Forum */
    #postsForBoard {
        padding: 0;
        width: 100%;
        margin-bottom: 15px;
    }
    #postsForBoard div { border-radius: 0; }

    .postHead { gap: 5px; }
    .postHead p { font-size: 1rem; }
    .postHead h3 { font-size: 1.5rem; }

    .mini-nav { bottom: 50px; }

    .mini-nav-icon {
        width: 25vw;
        height: 5vh;
        color: #000;
        background: var(--blue);
    }

    /* Add Post */

    #inputArea {
        gap: 10px;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
    }

    #text, #file { width: 100%; }
    #editor { height: 25vh; }

    .row-btn { width: 100%; }
    .row-btn * { width: 45%; }

    #mediaView { max-height: 300px; }
    .drag-and-drop-area { padding: 10px 40px; }
}

/* -------------------------------------------------------------------------------- */
/* Screen - Tablet */

@media only screen and (min-width: 769px) and (max-width: 1199px) {
    [id*='Content'] { padding-top: 18vh; }

    /* Board */
    .itemBox { background: var(--lightgreen); }
    #listOfBoards { width: 85%; }

    #searchInput {
        width: 70%;
        padding-left: 4%;
    }

    /* Forum */
    #postsForBoard { width: 85%; }
    .mini-nav { bottom: 35px; }

    .mini-nav-icon {
        width: 20vw;
        height: 7vh;
        color: #000;
        background: var(--blue);
    }

    /* Add Post */

    #inputArea {
        gap: 15px;
        height: auto;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }

    #text, #file { width: 90%; }
    #editor { height: 35vh; }

    .row-btn { width: 100%; }
    .row-btn * { width: 45%; }

    #mediaView { max-height: 400px; }
    .drag-and-drop-area { padding: 10px 60px; }
}

/* -------------------------------------------------------------------------------- */
/* Screen - Desktop */

@media only screen and (min-width: 1200px) {
    [id*='Content'] { padding-top: 15vh; }

    /* Board */
    #listOfBoards { width: 65%; }

    #searchInput {
        width: 50%;
        padding-left: 1%;
    }

    .itemBox:hover {
        transform: translateY(-5px);
        background: var(--lightgreen);
        box-shadow: 0 5px 15px var(--darkgreen);
    }
    .itemBox { background: var(--black-glass); }

    /* Forum */

    [class*='portrait'] { flex-direction: row; }
}

.deactivate {
    color: #FFF7;
    background: #FFF1;
    pointer-events: none;
}