/* -------------------------------------------------------------------------------- */
/* All Content */

body {
    background: url('../img/background2.svg') no-repeat center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}
main { justify-content: end; }

[id*='Content'] {
    width: 50%;
    padding: 2%;
    height: 75%;
}

.content {
    width: 100%;
    color: #FFF;
    height: 100%;
    overflow: auto;
}
.content::-webkit-scrollbar { display: none; }

img { border-radius: 15px; }

/* -------------------------------------------------------------------------------- */
/* Board Content */

#boardContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#searchInput {
    width: 80%;
    padding: 2%;
    cursor: pointer;
    margin-bottom: 2%;
    border-radius: 25px;
    transition: all 0.3s ease;
    background: var(--grey);
    box-shadow: 5px 5px 5px var(--red);
}

#searchInput:focus { 
    background: #FFF;
    box-shadow: 2px 2px 5px inset var(--lightgreen);
}

.itemBox {
    padding: 0;
    width: 100%;
    display: flex;
    cursor: pointer;
    max-height: 18%;
    align-items: center;
    justify-content: start;
    backdrop-filter: blur(5px);
    box-shadow: 2px 2px 5px var(--grey);
}
.itemBox * { margin: 0; }

.itemBox:hover {
    margin: 0 5%;
    color: var(--yellow);
    background: var(--blue-glass);
}

.itemBox img {
    height: 100%;
    margin-right: 2%;
    aspect-ratio: 1 / 1;
}

.itemData {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}
.itemData p { 
    width: 100%; 
    padding-top: 1%;
    font-size: medium;
}
.itemData strong { 
    font-size: x-large; 
    color: var(--yellow);
    text-shadow: 5px 5px 5px #0005;
}

/* -------------------------------------------------------------------------------- */
/* Forum Content */

#loading {
    color: #FFF;
    font-size: x-large;
    text-align: center;
}

.forumPost {
    margin: 2% 0;
    display: flex;
    min-height: 30vh;
    background: var(--grey-glass);
}

.leftBar, .rightBar {
    display: flex;
    align-items: center;
    background: var(--lightgreen);
}

.like, .dt {
    margin: 0;
    display: flex;
}
.inactiveLike { opacity: .5; }

.leftBar img { aspect-ratio: 1 / 1; }

.forumPost h3 {
    padding: 0;
    font-size: x-large;
    border-bottom: 2px solid #000;
}

.forumPost .content {
    width: 70%;
    display: flex;
    padding: 1% 2%;
    align-items: center;
    flex-direction: column;
}

/* -------------------------------------------------------------------------------- */
/* Post Display */

.post {
    width: 100%;
    display: flex;
    align-items: center;
}
.post .postText { 
    width: 100%;
    padding: 1%; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textView {
    padding: 2%;
    width: 25vh;
    cursor: pointer;
    border-radius: 5px;
    background: var(--grey);
    color: var(--lightgreen);
}

.textView:hover {
    color: #000;
    background: var(--blue);
}

.square img { aspect-ratio: 1 / 1; }
.portrait img { aspect-ratio: 2 / 3; }
.landscape img { aspect-ratio: 3 / 2; }
.tall-portrait img { aspect-ratio: 1 / 2; }
.wide-landscape img { aspect-ratio: 2 / 1; }

/* -------------------------------------------------------------------------------- */
/* Add Post Content */

#addContent { 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#addContent form {
    height: auto;
    display: flex;
    margin-top: 15vh;
    align-items: center;
    flex-direction: column;
}

#inputArea {
    width: 100%;
    display: flex;
}

#text, #file { 
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#file { justify-content: flex-end; }

#file img {
    max-width: 95%;
    max-height: 95%;
}

#editor {
    width: 100%;
    border: none;
    font-size: 1vw;    
    background: var(--black-glass);
}

.ql-toolbar {
    width: 100%;
    background: var(--grey);
    border-radius: 15px 15px 0 0;
}

.ql-toolbar ul { color: rebeccapurple; }

#charCount {
    width: 100%;
    padding: 2% 0;
    text-align: center;
    border-radius: 0 0 15px 15px;
    background: var(--lightgreen);
}

.row-btn {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.row-btn * {
    width: 40%;
    padding: 2% 0;
    color: #FFF;
    border: none;
    font-size: 1vw;
    border-radius: 15px;
    background: var(--lightgreen);
}

.row-btn *:hover {
    padding: 0;
    font-weight: bold;
    background: var(--darkgreen);
    border: 2px groove var(--blue-glass);
}

/* -------------------------------------------------------------------------------- */
/* Progress Bar */

#progressContainer { width: 50%; }

#progressBar {
    width: 100%;
    height: 25px;
}
#progressBar::-webkit-progress-bar, #progressBar::-webkit-progress-value {
    border-radius: 8px 10px 10px 8px;
}

#progressBar::-webkit-progress-bar {
    background: var(--red);
    border: 2px groove var(--yellow);
}

#progressBar::-webkit-progress-value {
    background: var(--lightgreen);
    border: 1px groove var(--grey);
}

/* -------------------------------------------------------------------------------- */
/* Mini-Nav */

.mini-nav {
    left: 0;
    bottom: 0;
    margin: 5%;
    width: 12vw;
    height: 15vh;
    z-index: 100;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.mini-nav-icon {
    gap: 15px;
    margin: 2%;
    border-radius: 25px;
    text-decoration: none;

    color: #FFF8;
    background: var(--blue-glass);

    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-nav-icon:hover { 
    color: #000;
    background: var(--blue);
}

/* -------------------------------------------------------------------------------- */
/* Screen Sizes */

@media only screen and (max-width: 768px) {
    /* All Content */

    [id*='Content'] {
        padding: 0;
        height: 85%;
        width: 100%;
    }

    /* Board Content */

    .itemBox {
        height: 18%;
        border-radius: 0;
    }
    .itemBox i { font-size: small; }
    .itemBox strong { font-size: larger; }

    /* Forum Content */
    .forumPost {
        width: 100%;
        margin: 4% 0;
        font-size: 18px;
        flex-direction: column;
    }

    .leftBar, .rightBar {
        width: 100%;
        justify-content: space-between;
    }

    .leftBar {
        height: 10vh;
        border-radius: 0 0 5px 5px;
    }
    .rightBar {
        height: 7vh;
        border-radius: 5px 5px 0 0;
    }

    .leftBar img {
        width: auto;
        height: 100%;
        border-radius: 0 0 0 5px;
    }

    .like, .dt {
        padding: 2% 5%;
        height: 100%;
        align-items: center;
    }

    .dt {
        text-align: right;
    }

    .like {
        gap: 15px;
        width: 100%;
        flex-direction: row-reverse;
    }

    .like p { font-size: 20px; }
    .like i { font-size: 30px; }

    /* Post Content */

    .forumPost .post {
        min-height: 15vh; 
        flex-direction: column; 
    }
    .forumPost .content { width: 95%; }

    [class*='portrait'] img { width: 50%; }
    [class*='landscape'] img { width: 90%; }

    /* Add Post Content */
    #addContent form {
        gap: 5vh;
        margin-top: 12vh;
    }

    #inputArea {
        gap: 5vh;
        flex-direction: column;
    }

    #text, #file {
        width: 100%;
    }

    #editor {
        height: 35vh;
        font-size: 4vw;
    }
    .ql-toolbar { border-radius: 0; }

    #charCount { 
        font-size: 4vw;
        border-radius: 0; 
    }

    #file { height: auto; }

    #mediaView {
        width: 100%;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #file img { max-height: 85%; }

    .row-btn { padding: 1%; }

    .row-btn * { 
        height: 100%;
        font-size: 4vw; 
    }

    /* Mini-Nav */
    .mini-nav { width: 30vw; }

    .mini-nav-icon {
        color: #000;
        font-size: 3vw;
        background: var(--blue);
    }
}

@media only screen and (min-width: 769px) and (max-width: 999px) {
    /* Board Content */

    .itemBox {
        height: 12%;
        border-radius: 15px;
    }
}

@media only screen and (min-width: 769px) {
    /* Board Content */

    .itemBox {
        margin: 0;
        height: 18%;
        border-radius: 20px;
    }

    /* Forum Content */

    .forumPost {
        width: 98%;
        font-size: medium;
        border-radius: 15px;
        backdrop-filter: blur(5px);
        box-shadow: 2px 2px 5px var(--grey);
    }

    .leftBar, .rightBar {
        min-width: 15%;
        max-width: 15%;
        text-align: center;
        flex-direction: column;
    }

    .leftBar {
        border-radius: 15px 0 0 15px;
        justify-content: space-between;
        border-right: 2px groove var(--darkgreen);
    }

    .leftBar img {
        width: 80%;
        margin-top: 5%;
    }

    .rightBar {
        justify-content: flex-end;
        border-radius: 0 15px 15px 0;
        border-left: 2px groove var(--darkgreen);
    }

    .like, .dt {
        width: 100%;
        height: 8vh;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        background: var(--darkgreen);
    }

    .dt { border-radius: 0 0 0 15px; }
    .like { border-radius: 0 0 15px 0; }

    .like p { font-size: large; }
    .like i { font-size: xx-large; }

    /* Post Content */
    [class*='portrait'] {
    align-items: flex-start;
    flex-direction: row-reverse;
    }
    [class*='landscape'], .square { 
        flex-direction: column; 
    }

    [class*='landscape'] img, .square img {
        width: 100%;
    }
    [class*='portrait'] img {
        width: 35%;
    }
    [class*='portrait'] p {
        min-width: 65%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    /* All Content */

    [id*='Content'] {
        height: 90%;
        width: 85%;
    }

    /* Forum Content */
    .forumPost {
        font-size: 14px;
        min-height: 20vh;
    }

    .leftBar, .rightBar {
        min-width: 17%;
        max-width: 17%;
    }

    .like, .dt { height: 6vh; }

    .like p { font-size: 16px; }
    .like i { font-size: 24px; }

    /* Add Post Content */

    #addContent form {
        gap: 5vh;
        justify-content: space-between;
    }

    #inputArea {
        gap: 5vh;
        flex-direction: column;
    }
    #text, #file { width: 100%; }

    #editor {
        height: 35vh;
        font-size: 3vw;
    }
    #charCount { font-size: 3vw; }

    #mediaView {
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #file img { 
        max-height: 85%; 
        object-fit: contain;
    }

    .row-btn * { 
        height: 100%;
        font-size: 2.5vw; 
    }

    /* Mini-Nav */

    .mini-nav {
        width: 14vw;
    }

    .mini-nav-icon {
        color: #FFF;
        background: #000;
        border-color: #FFF8;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1199px) {
    /* Forum Content */

    .forumPost {
        font-size: 15px;
        min-height: 40vh;
    }

    .leftBar, .rightBar {
        min-width: 15%;
        max-width: 15%;
    }

    .like, .dt { height: 10vh; }

    .like p { font-size: 18px; }
    .like i { font-size: 32px; }
}

@media only screen and (min-width: 1200px) {
    /* Add Post */

    #addContent form { height: 85%; }

    #inputArea { height: 100%; }

    #text, #file { height: 90%; }
}

.deactivate {
    color: #FFF7;
    background: #FFF1;
    pointer-events: none;
}