@import url('colors.css');

body {
    background: url('../img/background2.svg') no-repeat center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

/* -------------------------------------------------------------------------------- */
/* All Content */

[id*='Content'] {
    width: 50%;
    height: 90%;
    padding: 2%;
}
.header, .content { width: 100%; }

.header, .footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.header *, .footer * { padding: 2%; }

.content {
    height: 85%;
    color: #FFF;
    overflow: auto;
}

.content::-webkit-scrollbar { display: none; }

img { border-radius: 15px; }

/* -------------------------------------------------------------------------------- */
/* All Headers / Footers */

.header, .footer {
    color: #FFF;
    background: #2C3E50;
}

.header {
    height: 12vh;
    justify-content: flex-start;
    border-radius: 10px 10px 0 0;
    border-bottom: 4px groove var(--custom-grey);
}

.footer {
    height: 8vh;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    border-top: 4px groove var(--custom-grey);
}

.header img {
    padding: 1%;
    height: 100%;
    aspect-ratio: 1 / 1;
}
.header p { width: 60%; }

/* -------------------------------------------------------------------------------- */
/* Board Content */

#boardContent .header {
    border: none;
    background: none;
    justify-content: center;
}

#searchIcon, #searchInput {
    transition: all 0.3s ease;
}

#searchIcon {
    color: #FFF;
    background: black;
    border-radius: 0 15px 15px 0;
}

#searchInput {
    width: 85%;
    cursor: pointer;
    border: 4px solid black;
    border-radius: 15px 0 0 15px;
}

#searchInput:focus + #searchIcon { 
    color: var(--custom-yellow);
    background: var(--custom-red); 
}

#searchInput:focus { border-color: var(--custom-red); }

.itemBox {
    width: 100%;
    height: 18%;
    display: flex;
    margin-top: 3%;
    cursor: pointer;
    background: #0005;
    border-radius: 15px;
    align-items: center;
}
.itemBox:hover { background: #000; }

.itemBox img {
    height: 100%;
    margin-right: 2%;
    aspect-ratio: 1 / 1;
}

.itemData {
    width: 80%;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}
.itemData p { 
    width: 100%; 
    padding-top: 1%;
    border-bottom: 4px #FFF5 groove;
}
.itemData strong { font-size: x-large; }

/* -------------------------------------------------------------------------------- */
/* Forum Content */

.forumPost { 
    margin: 2%; 
    margin-top: 5%;
}

.forumPost .content { 
    padding: 2%; 
    min-height: 35vh; 
    background: #2C3E5050;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}
.forumPost .content img { 
    margin: 1% 0; 
    max-width: 95%;
    max-height: 40vh;
}

.forumPost .icon {
    width: 15%;
    display: flex;
    justify-content: center;
}

.forumPost .icon * {
    margin: 2% 5%;
    font-size: xx-large;
}

.inactiveLike { opacity: .5; }

#loading {
    color: #FFF;
    width: 100%;
    text-align: center;
    font-size: xx-large;
}

/* -------------------------------------------------------------------------------- */
/* Add Post Content */

#addContent form {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 2%;
    align-items: center;
    flex-direction: column;
}

#addPostContent {
    color: #FFF;
    width: 75%;
    resize: none;
    min-height: 35%;
    max-height: 35%;
    border-radius: 15px;
    background: var(--custom-glass);
    border: 2px groove var(--custom-grey);
}

#mediaView img {
    margin: 2%;
    max-width: 100%;
}

.row-btn {
    margin: 1%;
    width: 75%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-btn button {
    color: #FFF;
    margin: 2%;
    width: 45%;
    height: 100%;
    cursor: pointer;
    border-radius: 15px;
    background: var(--custom-green-light);
    border: 2px groove var(--custom-grey);
}

.row-btn button:hover {
    background: var(--custom-green-dark);
}

.row-btn .deactivate {
    color: #FFF8;
    border-color: #FFF8;
    background: var(--custom-green-dark);
}

/* -------------------------------------------------------------------------------- */
/* Progress Bar */

#progressContainer { 
    width: 50%;
}

#progressBar {
    width: 100%;
    height: 25px;
}
#progressBar::-webkit-progress-bar, #progressBar::-webkit-progress-value {
    border-radius: 8px 10px 10px 8px;
}

#progressBar::-webkit-progress-bar {
    background: var(--custom-red);
    border: 2px groove var(--custom-yellow);
}

#progressBar::-webkit-progress-value {
    background: var(--custom-green-light);
    border: 1px groove var(--custom-grey);
}

/* -------------------------------------------------------------------------------- */
/* Mini-Nav */
.mini-nav {
    width: 8vw;
    height: 10vh;
    z-index: 1000;
    left: 0;
    bottom: 0;
    margin: 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.mini-nav-icon {
    margin: 5%;
    padding: 5%;
    border-radius: 50px;

    color: #FFF8;
    background: #000;
    border: 2px groove #FFF4;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.mini-nav-icon i { margin-right: 5%; }

.mini-nav-icon:hover { 
    color: #FFF;
    background: #000; 
    border-color: #FFF8;
}

/* -------------------------------------------------------------------------------- */
/* Screen Sizes */

@media only screen and (max-width: 750px) {
    /* All Content */

    [id*='Content'] {
        padding: 0;
        height: 85%;
        width: 100%;
    }

    /* Board Content */

    .itemBox { 
        height: 18%; 
        margin-top: 4%;
    }

    /* Forum Content */
    .header img { height: 90%; }

    #forumContent .header, #forumContent .footer {
        border-radius: 0;
    }

    .forumPost .content { padding: 5%; }

    .forumPost .content img { width: 70%; }

    .forumPost .icon * { font-size: larger; }

    /* Add Post Content */
    #addPostContent {
        width: 90%;
        padding: 2%;
        min-height: 25%;
        max-height: 25%;
    }

    /* Mini-Nav */
    .mini-nav {
        width: 25vw;
    }

    .mini-nav-icon {
        color: #FFF;
        background: #000;
        border-color: #FFF8;
    }
}

@media only screen and (max-width: 400px) {
    /* Board Content */

    .itemBox {
        height: 22%;
        margin-top: 4%;
    }
}

@media only screen and (min-width: 751px) and (max-width: 999px) {
    /* Board Content */

    .itemBox {
        height: 14%;
        margin-top: 6%;
    }
}

@media only screen and (min-width: 751px) and (max-width: 1300px) {
    /* All Content */

    [id*='Content'] {
        height: 90%;
        width: 75%;
    }

    /* Add Post Content */

    #addPostContent {
        width: 90%;
        padding: 2%;
        min-height: 25%;
        max-height: 25%;
    }

    /* Mini-Nav */

    .mini-nav { width: 14vw; }

    .mini-nav-icon {
        color: #FFF;
        background: #000;
        border-color: #FFF8;
    }
}

@media only screen and (min-width: 1301px) {
    /* Board Content */

    .itemBox {
        height: 20%;
        margin-top: 5%;
    }
}

.deactivate {
    color: #FFF8;
    background: #FFF2;
    pointer-events: none;
}