@import url(_custom.css);

/* -------------------------------------------------- */
/* SHARED CLASSES */

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/* -------------------------------------------------- */
/* MAIN LAYOUT */

body {
    margin: 0;
    color: #FFF;
    width: 100vw;
    height: 100vh;
    font-size: 1.5vw;
    overflow: hidden;
    line-height: 1.5rem;
    align-items: center;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

header {
    z-index: 99;
    width: 100%;
    height: 15vh;
    position: fixed;
    background: linear-gradient(to bottom, var(--black-glass), transparent);
}

main {
    width: 100%;
    height: auto;
    overflow-y: auto;
    align-items: center;
}

h1, h2, h3 {
    line-height: 2rem;
    font-family: 'Roboto Slab', 'Georgia', sans-serif;
}

h1 { font-size: 3vw; }
h2 { font-size: 2vw; }
h3 { font-size: 1.75vw; }

img, .btn { border-radius: var(--radius); }

/* -------------------------------------------------- */
/* BUTTON STYLE */

.btn {
    color: #FFF;
    border: none;
    padding: 1% 2%;
    background: var(--lightgreen);
}

.btn:hover { 
    font-weight: bold;
    background: var(--darkgreen);
}

.deactivate {
    font-weight: lighter;
    pointer-events: none;
    background: var(--black-glass);
}

/* -------------------------------------------------- */
/* DESKTOP */

@media screen and (min-width: 1300px) {
    header {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 769px) {
    .row-desktop { flex-direction: row; }
    .column-desktop { flex-direction: column; }
}

/* -------------------------------------------------- */
/* MOBILE */

@media screen and (max-width: 768px) {
    .row-mobile { flex-direction: row; }
    .column-mobile { flex-direction: column; }
}