/* Body */
body {
    width: 99vw;
    height: 99vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background: url("../img/background.JPG") no-repeat center fixed;
    background-size: cover;
}

/* Frames */

.left-logo { width: 55%; }
.right-form { width: 45%; }

.left-logo, .right-form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Image Logo Layout */

.left-logo img {
    width: 55%;
    height: auto;
}

/* Form Layout */

.right-form form {
    width: 40%;
    padding: 2%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);

    display: flex;
    align-items: center;
    flex-direction: column;
}
.right-form form * { padding: 2%; }

/* Form Logo Layout */

.right-form img {
    width: 80%;
    padding-bottom: 2%;
}

/* Button Layout */

.btn-primary {
    background-color: #007f3b;
    border-color: #007f3b;
    width: 100%;
    margin-bottom: 1rem;
}

.btn-secondary {
    background-color: #00cc00;
    border-color: #00cc00;
    width: 100%;
}

.btn-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btn-row * { width: 45%; }

.btn-primary:hover { background-color: #005f2a; }
.btn-secondary:hover { background-color: #009900; }

/* Text Link */

.forgot-password {
    text-align: center;
    display: block;
    color: #005f3a;
    text-decoration: none;
    margin-bottom: 1rem;
}
.forgot-password:hover { text-decoration: underline; }