/* custom variables */
:root {
    --grey: #e1daca;
    --grey-glass: rgb(225,218,202,0.5);
    --lightgreen-glass: rgb(19,100,68, 0.5);
    --lightgreen: #2f6546;
    --darkgreen: #133234;
    --yellow: #f3e147;
    --planner-blue: #aae0fa;
    --planner-blue-rgb: rgba(170,224,252,0.5);
    --black-glass-50: rgb(0,0,0,0.5);
    --red: #912f45;
    --animation-timing: 0.25s ease-in-out;
    --max-width: 1300px;
    --temp: black;
    --navbar-height-s: 8rem;
    --shadow-down: 0px 2px 2px black;
    --who-what-where: 4rem;
    --sidebar: calc(50vw - 700px);
    --sidebar-blend: calc(var(--sidebar) + 100px);
}
/* Body */
body {
    background: url("../img/background2.svg") no-repeat center fixed;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

/* Form Container */
#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Center the forms */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 2%;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-color: var(--grey-glass);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}



.right-form {
    width: 45%;
}

 .right-form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .right-form form * {
        margin: 1%;
        padding: 2%;
    }

    /* Spacing between elements */
    form * {
        margin: 0.5rem 0;
    }

/* Hide the forgot password form initially */
#forgotForm {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease, width 0.5s ease;
}

/* Adjust the logo size */
.brand-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    margin-bottom: 1rem;
    color: var(--grey);
}

    .brand-logo-container img {
        height: 100px;
        width: 100px; 
        border-radius: 50%;
        cursor: pointer;
    }

    .brand-logo-container span {
        font-size: 2rem; 
        font-weight: 700;
        text-shadow: var(--shadow-down);
        margin-left: 0.5rem; 
    }

input[type="text"], input[type="password"], input[type="email"] {
    width: 80%;
    padding: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: Black;
    text-align: center; 
}

    input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.9);
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
    }


/* Adjust Button Layout */

.button-container {
    width: 80%; 
    max-width: 400px; 
    margin: 0 auto; 
    display: flex;
    gap: 10px; 
    justify-content: center;
    padding-bottom: 10px;
}

/* Button Styling */
.btn-primary, .btn-secondary {
    width: 60%;
    text-decoration: none;
    margin: 0 auto;
    padding: 15px;
    border-radius: 40px;
    color: floralwhite;
    background: var(--lightgreen-glass);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s linear;
    overflow: hidden;
    font-size: 18px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    border: 1.5px solid var(--darkgreen);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}


    /* Hover effect */
    .btn-primary:hover, .btn-secondary:hover {
        background-color: rgba(0, 0, 0, 0.3);
        transform: scale(1.05);
        box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
    }

.forgot-password {
    color: #990000;
    text-decoration: none;
    margin-top: 0.5rem;
    display: none;
    font-family: "Roboto", sans-serif;
}

    .forgot-password.active {
        display: block; 
    }

    .forgot-password:hover {
        color: #FF0000;
        text-decoration: underline;
    }

a {
    text-decoration: none;
}
.brand-logo-container span:hover {
    transform: scale(1.05);
}

h2 {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 10px 0;
    color: var(--grey);
    text-shadow: var(--shadow-down);
    font-size: 1.5rem;
    letter-spacing: 0.10rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500 !important;
    line-height: normal;
    margin: 0;
    display: block;
}

p {
    text-align: center;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: floralwhite;
    margin-bottom: 15px;
    text-shadow: var(--shadow-down);
}

.success-message {
    text-align: center;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: floralwhite;
    margin-bottom: 15px;
    text-shadow: var(--shadow-down);
    font-weight: bold;
}


.text-danger {
    width: 100%;
    text-align:center;
    color: #ff4d4d;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 5px;
    display: block;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 750px) {
    .right-form {
        width: 80%;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 10px; 
        width: 100%; 
    }
}



@media only screen and (min-width: 751px) and (max-width: 1000px) {
    .right-form {
        width: 80%;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1300px) {
    .right-form {
        width: 80%;
    }
}