:root {
    --custom-grey: #e1daca;      
    --custom-glass: #e1daca80;
    --custom-green-light: #2f6546;
    --custom-green-dark: #133234;
    --custom-yellow: #f3e147;
    --custom-red: #912f45;
}
