/* Button [TEMP] */
[class*='btn-'] {
    margin: 5%;
    padding: 2%;
    color: #FFF;
    border-radius: 5px;
    border: 2px groove #0005;
}

[class*='btn-']:hover {
    color: #f3e147;
    background: rgb(225,218,202,0.5);
}

.btn-primary {
    width: 100%;
    background-color: #008800;
}

.btn-secondary {
    width: 100%;
    background-color: #5CA15C;
}

.btn-primary, .btn-secondary { border: groove 2px #000000; }
.btn-primary:hover, .btn-secondary:hover { background-color: #005F2A; }

/* ALL Content */
[id*='Content'] {
    padding: 1%;
    background: rgb(225,218,202,0.5);
}

/* BOARD */
#boardContent {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boardSearch {
    width: 50%;
    height: 15%;
    background: #133234;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
}

#boardItems {
    width: 50%;
    height: 90%;
    overflow-y: auto;
    background: #2f6546;
}

/* Board Items */
.itemBox {
    margin: 1%;
    margin-bottom: 2%;
    width: 95%;
    height: 15%;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .itemBox:hover {
        color: #f3e147;
        background: #133234;
        border-radius: 25px;
        border: 2px groove #00000050;
        box-shadow: 5px 5px 10px #000;
    }

    .itemBox img {
        width: 18%;
        height: 95%;
        padding: 1%;
        border-radius: 25px;
    }

.itemData {
    width: 78%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .itemData p {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .itemData strong {
        display: block;
        font-size: large;
        margin-bottom: 1%;
        padding-bottom: 1%;
        border-bottom: 2px groove #FFF;
    }

/* Board SearchBar */
#searchInput {
    width: 80%;
    padding: 2%;
    background: #FFF;
    border-radius: 15px;
    transition: all 0.3s ease;
    border: 2px groove #13323450;
}

    #searchInput:focus {
        box-shadow: 0 0 5px #0011FF;
    }

/* FORUM */
#forumContent {
    width: 100%;
    height: 85vh;
    color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: row;
}

    #forumContent section {
        height: 100%;
    }

#forumMain {
    width: 64%;
    height: 100%;
}

#forumHeader {
    height: 10%;
    background: #133234;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    #forumHeader * {
        padding: 1%;
    }

    #forumHeader img {
        height: 90%;
        width: auto;
        border-radius: 25px;
    }

#forumPosts {
    height: 90%;
    padding: 2%;
    color: black;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e1daca99;
}

/* FORUM / BOARD SCROLLBAR */
#forumPosts::-webkit-scrollbar, #boardItems::-webkit-scrollbar {
    width: 4px;
}

#forumPosts::-webkit-scrollbar-track, #boardItems::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
}

#forumPosts::-webkit-scrollbar-thumb, #boardItems::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 4px solid;
}
#boardItems::-webkit-scrollbar-thumb { border-color: #f3e147; }
#forumPosts::-webkit-scrollbar-thumb { border-color: #912f45; }

#forumPosts::-webkit-scrollbar-thumb:hover, #boardItems::-webkit-scrollbar-thumb:hover {
    border: 4px groove #912f45;
}

/* FORUM POSTS */
.postBox {
    width: 70%;
    margin: 1%;
    margin-bottom: 5%;
}

.postContent, .postInfo {
    width: 100%;
    text-align: left;
}

.postContent {
    color: black;
    padding: 4% 2%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e1daca;
    border-radius: 15px 15px 0 0;
    border-top: 2px #FFF9 groove;
    border-bottom: 2px #FFF9 groove;
}

.postInfo {
    padding: 0 2%;
    color: white;
    height: 12vh;
    display: flex;
    background: #912f45;
    border-radius: 0 0 15px 15px;
    border-bottom: 2px #FFF9 groove;
}
.postInfo div * { margin: 1%; }

.postUser { width: 80%; }
.postUser * { padding-left: 5%; }

.postInfo img {
    width: auto;
    height: 85%;
    border-radius: 25px;
}

.postLeft {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.postRight {
    width: 30%;
    display: flex;
    flex-direction: row;
    
}

.postRight h3 {
    margin: 0;
    align-self: center;
}

.postRight i {
    width: 40%;
    font-size: 40px;
    align-self: center;
}

.postRight i:hover { color: #f3e147 !important; }
.inactiveLike { color: #FFF7 !important; }
.activeLike { color: #e1daca !important; }


/* Forum Menus */
[id*='forumMenu'] {
    width: 18%;
    color: #FFF;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2f6546;
}

#forumMenu_1 {
    justify-content: space-between;
    border-radius: 15px 0 0 0;
}

#forumMenu_2 { border-radius: 0 15px 0 0; }

    #forumMenu_1 a {
        width: 90%;
    }

    #forumMenu_1 img {
        width: 80%;
        margin-bottom: 5%;
    }

    #forumMenu_1 h4 {
        padding-bottom: 2%;
        border-bottom: 2px groove #2f6546;
    }

/* BOARD / FORUM Screen Responsiveness */
@media only screen and (max-width: 1000px) {
    #boardContent, #forumContent {
        width: 100%;
    }

    /* Board Only */
    #boardSearch, #boardItems {
        width: 100%;
    }

    .itemBox img {
        min-width: 30%;
    }

    /* Forum Only */
    [id*='forumMenu'] {
        display: none;
    }

    #forumMain {
        width: 100%;
    }

    .postBox {
        width: 100%;
    }

    .postContent {
        border-radius: 0;
    }

    .postInfo img {
        width: 25%;
        height: 7vh;
    }

    .postRight img {
        height: 5vh;
    }
}
