
:root {
    --grey: #e1daca;
    --lightgreen: #2f6546;
    --darkgreen: #133234;
    --yellow: f3e147;
    --red: 912f45;
}

main {
    flex-grow: 1;
}

html, body {
    background-color: var(--grey);
    height: 100%;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.header-images img:first-child {
    width: 333px;
    height: 94px;
}

.header-images img {
    display: block;
    margin: 10px auto;
}

.form-label {
    color: white;
}

.form-control {
    background-color: #F1F1F1;
    border: none;
}

.btn-primary {
    background-color: #2A8D68;
    border-color: #2A8D68;
}

    .btn-primary:hover {
        background-color: #238458;
    }

.header-images img {
    width: 60px;
    height: auto;
    margin: 10px;
}

.text-danger {
    color: #FF5C5C;
}

/* LOGIN STYLING */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #08403A;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* NAVBAR STYLING */
.navbar {
    background-color: #08403A !important;
    border-bottom: 1px solid #2A8D68;
}

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: white !important;
    }

        .navbar .nav-link:hover {
            color: #2A8D68 !important;
        }

.navbar-toggler-icon {
    filter: invert(1);
}

/* SIGNUP CSS */
.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #08403A;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Planner / Map CSS */

.container {
    width: 100%;
    max-width: 1300px;
    height: 100vh;
    gap: 0;
    margin: 0;
    padding: 0;
}

#filter-container {
    width: 100vw;
    background-color: var(--darkgreen);
    box-sizing: border-box;
}

#filter-toggle {
    width: 100%;
    background-color: var(--lightgreen);
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
}

#filter-options {
    display: none;
    grid-template-columns:70% 20%;
    padding: 1rem;
    gap: 1.5rem;
}

#search-name {
    text-align: center;
}

/* Slider styling */
/* https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */
input[type="range"] {
    width: 100%;
}

#map-container {
    position: relative;
    width: 100%; 
    height: 80vh;
    overflow: hidden;

}

#plannerBtns {
    width: 100%;
    position: absolute;
    bottom: 22.5%;
    z-index: 10;
    text-align: center;
}

#map {
    width: 100%;
    height: 100%;
    background: #aadffa;
    z-index: 0;
}

#chart-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: white;
    color: black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;


}

.sections-container {
    display: none;
    grid-area: sections;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: #2A8D68;
}

.section-box {
    width: 100%;
    height: 100px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #08403A;
    margin-bottom: 10px;
}

    .section-box:hover {
        background-color: #e0e0e0;
    }

.form-label {
    color: white;
}

.form-control {
    background-color: #F1F1F1;
    border: none;
}

.btn-primary {
    background-color: #2A8D68;
    border-color: #2A8D68;
}

    .btn-primary:hover {
        background-color: #238458;
    }

