

/* GENERAL STYLING*/
main {
    flex-grow: 1;
}

html, body {
    background-color: #696969;
    height: 100%;
    color: white;
}


.header-images img:first-child {
    width: 333px;
    height: 94px;
}

.header-images img {
    display: block;
    margin: 10px auto; 
}

.form-label {
    color: white; 
}

.form-control {
    background-color: #F1F1F1; 
    border: none;
}

.btn-primary {
    background-color: #2A8D68; 
    border-color: #2A8D68;
}

    .btn-primary:hover {
        background-color: #238458; 
    }

.header-images img {
    width: 60px;
    height: auto;
    margin: 10px;
}

.text-danger {
    color: #FF5C5C; 
}



/* LOGIN STYLING*/
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #08403A;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


/* NAVBAR STYLING*/

.navbar {
    background-color: #08403A !important; 
    border-bottom: 1px solid #2A8D68; 
}

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: white !important; 
    }

        .navbar .nav-link:hover {
            color: #2A8D68 !important;
        }

.navbar-toggler-icon {
    filter: invert(1); 
}

/* SIGNUP CSS*/
.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #08403A;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#main-container {
    display: flex;
}

#filter-container {
    width: 10%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-box {
    display: flex;
    flex-direction: column;
}

    .filter-box input, .filter-box select {
        margin-top: 5px;
        padding: 5px;
    }

#map-container {
    width: 80%;
    padding: 10px;
}

#map {
    height: 75vh;
    width: 100%;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

.sections-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.section-box {
    width: 150px;
    height: 100px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f5f5f5;
    margin: 10px;
}

    .section-box:hover {
        background-color: #e0e0e0;
    }

button {
    padding: 10px;
    cursor: pointer;
}

