﻿@{
    Layout = "_AccountLayout";
}

<div id="form-container">
    <form>
        <h2>Reset Password</h2>
            <img src="~/img/logo2.png" height="100px">
        <p>An email has been sent to your inbox to reset your password.</p>
            <div class="btn-row">
                <a href="@Url.Action("Login", "Login")" class="btn btn-secondary">Sign In</a>
            </div>
    </form>
</div>