@model PeakHub.ViewModels.ResetPasswordViewModel
@{
    Layout = "_AccountLayout";
}


<div id="form-container">
<form asp-action="ResetPassword" method="post">
        <a class="brand-logo-container" asp-controller="Home" asp-action="Index">
            <img src="/img/logo2.png" />
            <span id="brand-name">TAS PEAKS</span>
        </a>
        <h2>Reset Password</h2>
        <input asp-for="UserName" class="form-control" placeholder="Username" />
        <span asp-validation-for="UserName" class="text-danger"></span>

        <input asp-for="Password" type="password" class="form-control" placeholder="New Password" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        <input asp-for="Token" type="hidden" />
        <input asp-for="UserId" type="hidden" />

        <input type="submit" value="Reset Password" class="btn btn-primary" />

        <div class="btn-row">
            <a href="@Url.Action("Login", "Login")" class="btn btn-secondary">Login</a>
        </div>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>
</div>
