*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* removes anchor link decorations */
a {
    text-decoration: none;
}

/* disables transition effect */
.no-transition * {
    transition: none !important;
}

/* custom variables */
:root {
    --grey: #e1daca;
    --grey-glass: rgb(225,218,202,0.5);
    --lightgreen-glass: rgb(19,100,68, 0.5);
    --lightgreen: #2f6546;
    --darkgreen: #133234;
    --yellow: #f3e147;
    --planner-blue: #aae0fa;
    --planner-blue-rgb-glass: rgba(170,224,252,0.5);
    --black-glass-50: rgb(0,0,0,0.5);
    --red: #912f45;
    --transition-timing: all 0.25s ease-in-out;
    --max-width: 1300px;
    --navbar-height: 8rem;
    --shadow-down: 0px 2px 2px black;
    --who-what-where: 4rem;
    --sidebar: calc(50vw - 700px);
    --sidebar-blend: calc(var(--sidebar) + 100px);
}

/* classes for style */

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-cta {
    color: attr(color);
    border: 2px solid attr(color);
    border-radius: 20rem;
    padding: 0.5rem 1rem;
    text-align: center;
    box-shadow: 0px 2px 2px black, inset 0px 2px 2px black;
    text-shadow: 0px 2px 2px black;
    transition: var(--transition-timing);
}

