<link rel="stylesheet" href="~/css/style.css" />

<div class="general-info">
    <h2>General Information Page</h2>

    <h2>Backpack</h2>
    <p>Choosing your backpack is the second most important decision you will make – your shoes are top priority!</p>
    <p>Here are four key things to focus on when purchasing a pack:</p>
    <ul>
        <li>Find a pack that is lightweight. You don’t want to be carrying something heavy for weeks or even a day. </li>
        <li>You probably won’t need more than a 35L pack for most hikes, but if you buy a larger one that fits you perfectly you will be able to carry it for miles.</li>
        <li>Only buy a pack if it fits YOU. Make sure to take some time to use the pack before you go on a long hike. Take it on holidays and see what you can fit in your pack before the hike. You would be amazed at how good you get at packing a lot in to a small space.</li>
        <li>Make sure your bag has enough pockets, adjustment points, and storage options to fit your needs and your hike.</li>
    </ul>
    </div>

<div class="general-info">
   
    <h2>Footwear</h2>
    <p>There are a few simple rules to remember when thinking about your shoes for hikes. Whether it is a multi-day hike, or a short trail walk, your feet will get you there or they will fail you. Because of this our choice of footwear will be the most important gear decision you make.</p>
    <ul>
        <li></li>
    </ul>
</div>

<div class="general-info">

<h2>Daily Clothing</h2>
<p></p>
<ul>
    <li></li>
</ul>
</div>

<div class="general-info">

    <h2>Maps</h2>
    <p></p>
    <ul>
        <li></li>
    </ul>
</div>