<link rel="stylesheet" href="~/css/style.css" />

<div class="general-info">
    <h2>General Information Page</h2>

    <h2>Backpack</h2>
    <p>Choosing your backpack is the second most important decision you will make – your shoes are top priority!</p>
    <p>Here are four key things to focus on when purchasing a pack:</p>
    <ul>
        <li>Find a pack that is lightweight. You don’t want to be carrying something heavy for weeks or even a day. </li>
        <li>You probably won’t need more than a 35L pack for most hikes, but if you buy a larger one that fits you perfectly you will be able to carry it for miles.</li>
        <li>Only buy a pack if it fits YOU. Make sure to take some time to use the pack before you go on a long hike. Take it on holidays and see what you can fit in your pack before the hike. You would be amazed at how good you get at packing a lot in to a small space.</li>
        <li>Make sure your bag has enough pockets, adjustment points, and storage options to fit your needs and your hike.</li>
    </ul>
    </div>

<div class="general-info">
   
    <h2>Footwear</h2>
    <p>There are a few simple rules to remember when thinking about your shoes for hikes. Whether it is a multi-day hike, or a short trail walk, your feet will get you there or they will fail you. Because of this, our choice of footwear will be the most important gear decision you make.</p>
    <ul>
        <li>Your shoes must be able to breathe, make sure they fit you perfectly and make sure they are worn in well before any long hike. If you do not do this, you will get blisters. Plenty of people have to stop long hikes after 3 days due to these mistakes.</li>
        <li>Your choice of socks is just as important as your choice of shoe. There is little point having a $400.00 pair of hiking boots and matching it with cheap socks.</li>
        <li>Spend the time and money on decent footwear and socks, you won’t regret it!</li>
    </ul>
</div>

<div class="general-info">

<h2>Daily Clothing</h2>
<p></p>
<ul>
        <li>For daily clothing, focus on clothes that are light weight, breathable and provide sun protection. If you are hiking multiple days, quick drying clothes is best.</li>
        <li>Always take thermals and a puffer jacket just in case it is especially cold. The weather can change quickly and it is best to stay warm if termperatures drop unexpectedly.</li>
        <li>If you pack the correct clothing, you will only need two sets of clothes as you can wear one and carry the other.</li>
        <li>Finally, pack a hat, rain jacket, a light weight poncho and always take extra socks.</li>
</ul>
</div>

<div class="general-info">

    <h2>Navigation</h2>
    <p></p>
    <ul>
        <li>Most trails are very well marked but it is always best to carry your own equipment to navigate.</li>
         <li>A compass, map or iPhone with a hiking App and GPS device are all important tools, especially if you are hiking an unknown trail. </li>
        <li>You could carry just an iPhone with GPS or have a downloadable map, but in the event you lose your phone you will have no way to navigate. Always have a backup.</li>
    </ul>
</div>

<div class="general-info">

    <h2>First Aid</h2>
    <p></p>
    <ul>
        <li>Pack a basic First Aid Kit for any hike to treat any minor injuries on your hike.</li>
        <li>Items include: Bandages, tweezers, pain releif, saline and anteseptic wash.</li>
        <li>These basics should be able to allow you to continue your hike and seek further medical treatment if needed once you are completed.</li>
    </ul>
</div>

<div class="general-info">

    <h2>Food</h2>
    <p></p>
    <ul>
        <li>Always carry snacks on your hike and ensure you have more than you will need.</li>
        <li>Pack items that will not spoil in the weather and that are high in protein.</li>
        <li>Muesli bars, nuts, trail mix, dried fruit and sandwiches (without ham or cheese) are the easiest to prepare and carry.</li>
        <li>Ensure you have enough water for your hike. Carry twice as much as you will need if you do not know where there is a water source on your hike.</li>
        <li>If you are refilling from a river, use a water filter or purification tablet to ensure your drinking water is safe.</li>
    </ul>
</div>

<div class="general-info">

    <h2>Fire</h2>
    <p></p>
    <ul>
        <li>When we think of fire, we normally think of using it for warmth, but and even if you will not be starting a fire on your hike, it is best to always carry a fire starter.</li>
        <li>Fire can be used to alert of your position in case of an emergency and it can keep wild animals at bay during the night.</li>
        <li>Fire can be used to purify water and for cooking also.</li>
    </ul>
</div>

<div class="general-info">

    <h2>Lighting</h2>
    <p></p>
    <ul>
        <li>A headlamp and torch are essentials when hiking.</li>
        <li>Remember to pack extra batteries in case you are out on the trail longer than planned.</li>
    </ul>
</div>